html,
body {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  font-family: "Arvo", serif;
  background: #FFFFFF;
  color: #383838;
}

.container {
  width: 100%;
  max-width: none;
  box-sizing: border-box !important;
  box-shadow: unset !important;
  max-width: unset !important;

  @media only screen and (max-width: 800px) {
    padding: 16px;
  }

  .m-container {
    border-radius: 10px;
    padding: 20px;
    background-color: inherit;
  }

  .bg-normal {
    background-color: #FFFFFF;
  }

  .no-bg {
    background-color: none !important;
  }

  .btn-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    right: 35px;
  }
}

.navbar {
  position: relative;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
  padding: 20px;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

  .logo {
    width: 20%;
    font-family: "New Rocker", system-ui;
    font-weight: 700;
    font-size: xx-large;
    padding-left: 10px;
    cursor: pointer;

    &:hover {
      color: #dad7d7;
    }
  }

  .search-bar {
    cursor: pointer;
    width: 50%;
    display: flex;
    justify-content: baseline;
    align-items: center;
    border-radius: 15px;
    border: 1px solid #FFFFFF;
    height: 40px;
    padding-left: 20px;

    &:hover {
      box-shadow: rgba(249, 247, 247, 0.15) 0px 15px 25px, rgba(250, 240, 240, 0.05) 0px 5px 10px;
    }
  }

  .nav-item {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: center;
    width: 30%;
    cursor: pointer;
    padding: 20px;
  }
}

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19.36px;
}

.mt-30 {
  margin-top: 30px;
}

.cdk-overlay-backdrop {
  backdrop-filter: blur(5px);
}

.mat-mdc-dialog-surface {
  border-radius: 15px !important;
  background: transparent !important;
  outline: 2px solid whitesmoke !important;
  backdrop-filter: blur(30px) !important;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset !important;
}

.mat-mdc-dialog-title {
  font-family: "Arvo", serif !important;
  font-weight: 900 !important;
  font-size: xx-large;
  padding-left: 10px;
  text-align: center !important;
  color: #FFFFFF !important;
}

.mat-mdc-dialog-content {
  font-family: "Arvo", serif !important;
  font-weight: 400 !important;
  font-size: large;
  padding-left: 10px;
  color: #FFFFFF !important;
  max-height: 80vh !important;
}

.mat-mdc-button {
  background-color: #FFFFFF !important;
  border-radius: 15px !important;
  max-height: 35px !important;
}


/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8d8b8b;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #535151;
  cursor: pointer;
}

.sub-card {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-items: center;
  height: 170px;
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
  &:hover {
    background-color: #53515151;
  }
  .sub-image {
    height: 150px;
    width: 100px;
    background-size: cover;
  }
}

.mat-mdc-menu-item {
  font-family: "Arvo", serif !important;
  font-weight: 400 !important;
  font-size: medium !important;
  width: 120px !important;
  background-color: #FFFFFF !important;
  margin: 0 !important;
}
.mat-mdc-menu-content {
  background-color: #FFFFFF !important;
  padding: 5px 0 !important;
  padding-right: 0px !important;
}

.default-snackbar {
  font-family: "SegoeUI", "KhmerOSBattambang" !important;
  display: flex !important;
  justify-content: center !important;
  border-radius: 8px !important;
  text-align: center !important;
  // background-color: $color-primary !important;
  // color: $light !important;
}

.panel-success {
  @extend .default-snackbar;
  background-color: #004281 !important;
  color: #fff;

  --mdc-snackbar-container-color: #004281 !important;
  --mdc-snackbar-supporting-text-color: #fff !important;
  --mat-mdc-snack-bar-button-color: #fff !important;
}

.panel-error {
  @extend .default-snackbar;
  background-color: #e41f1f !important;
  color: #fff;

  --mdc-snackbar-container-color: #e41f1f !important;
  --mdc-snackbar-supporting-text-color: #fff !important;
  --mat-mdc-snack-bar-button-color: #fff !important;
}

.panel-warning {
  @extend .default-snackbar;
  background-color: #ffb65e !important;
  color: #fff;

  --mdc-snackbar-container-color: #ffb65e !important;
  --mdc-snackbar-supporting-text-color: #fff !important;
  --mat-mdc-snack-bar-button-color: #fff !important;
}
