<div class="container">
  <div class="intro-content">
    <div class="carousel-wrapper">
      <div class="intro-text">
        <h1>Welcome to Our Product Showcase</h1>
        <p>Explore a wide range of products across various categories. Click on any product to learn more or add it to
          your cart.</p>
      </div>
      <div class="carousel2">
        <!-- Repeat logos twice for seamless scroll -->
        <img src="https://cdn.sanity.io/images/u1relmus/production/9f4ceee39f40090d9d9b9b0558869e4e39d14ab3-144x51.svg"
          alt="Nestle" width="144" height="51" />
        <img src="https://cdn.sanity.io/images/u1relmus/production/adbc62692f1e766b56eac3153605a81ab2a13b3a-144x51.svg"
          alt="Autodesk" width="144" height="51" />
        <img src="https://cdn.sanity.io/images/u1relmus/production/6ec0cd758d2a82cddc25e2d6a89ffe9d0426291c-143x50.svg"
          alt="Yellow Pages" width="143" height="50" />
        <img src="https://cdn.sanity.io/images/u1relmus/production/7980cdb5ac2842e4e50a1375ec786da798fa119f-144x51.svg"
          alt="Decathlon" width="144" height="51" />
        <img src="https://cdn.sanity.io/images/u1relmus/production/77c4126ff6f2ab5fd9327091ae364f7d43312291-117x41.svg"
          alt="Sanofi" width="117" height="41" />

        <!-- Repeat set for seamless loop -->
        <img src="https://cdn.sanity.io/images/u1relmus/production/9f4ceee39f40090d9d9b9b0558869e4e39d14ab3-144x51.svg"
          alt="Nestle" width="144" height="51" />
        <img src="https://cdn.sanity.io/images/u1relmus/production/adbc62692f1e766b56eac3153605a81ab2a13b3a-144x51.svg"
          alt="Autodesk" width="144" height="51" />
        <img src="https://cdn.sanity.io/images/u1relmus/production/6ec0cd758d2a82cddc25e2d6a89ffe9d0426291c-143x50.svg"
          alt="Yellow Pages" width="143" height="50" />
        <img src="https://cdn.sanity.io/images/u1relmus/production/7980cdb5ac2842e4e50a1375ec786da798fa119f-144x51.svg"
          alt="Decathlon" width="144" height="51" />
        <img src="https://cdn.sanity.io/images/u1relmus/production/77c4126ff6f2ab5fd9327091ae364f7d43312291-117x41.svg"
          alt="Sanofi" width="117" height="41" />

        <!-- Repeat set for seamless loop -->
        <img src="https://cdn.sanity.io/images/u1relmus/production/9f4ceee39f40090d9d9b9b0558869e4e39d14ab3-144x51.svg"
          alt="Nestle" width="144" height="51" />
        <img src="https://cdn.sanity.io/images/u1relmus/production/adbc62692f1e766b56eac3153605a81ab2a13b3a-144x51.svg"
          alt="Autodesk" width="144" height="51" />
        <img src="https://cdn.sanity.io/images/u1relmus/production/6ec0cd758d2a82cddc25e2d6a89ffe9d0426291c-143x50.svg"
          alt="Yellow Pages" width="143" height="50" />
        <img src="https://cdn.sanity.io/images/u1relmus/production/7980cdb5ac2842e4e50a1375ec786da798fa119f-144x51.svg"
          alt="Decathlon" width="144" height="51" />
        <img src="https://cdn.sanity.io/images/u1relmus/production/77c4126ff6f2ab5fd9327091ae364f7d43312291-117x41.svg"
          alt="Sanofi" width="117" height="41" />

        <!-- Repeat set for seamless loop -->
        <img src="https://cdn.sanity.io/images/u1relmus/production/9f4ceee39f40090d9d9b9b0558869e4e39d14ab3-144x51.svg"
          alt="Nestle" width="144" height="51" />
        <img src="https://cdn.sanity.io/images/u1relmus/production/adbc62692f1e766b56eac3153605a81ab2a13b3a-144x51.svg"
          alt="Autodesk" width="144" height="51" />
        <img src="https://cdn.sanity.io/images/u1relmus/production/6ec0cd758d2a82cddc25e2d6a89ffe9d0426291c-143x50.svg"
          alt="Yellow Pages" width="143" height="50" />
        <img src="https://cdn.sanity.io/images/u1relmus/production/7980cdb5ac2842e4e50a1375ec786da798fa119f-144x51.svg"
          alt="Decathlon" width="144" height="51" />
        <img src="https://cdn.sanity.io/images/u1relmus/production/77c4126ff6f2ab5fd9327091ae364f7d43312291-117x41.svg"
          alt="Sanofi" width="117" height="41" />

        <!-- Repeat set for seamless loop -->
        <img src="https://cdn.sanity.io/images/u1relmus/production/9f4ceee39f40090d9d9b9b0558869e4e39d14ab3-144x51.svg"
          alt="Nestle" width="144" height="51" />
        <img src="https://cdn.sanity.io/images/u1relmus/production/adbc62692f1e766b56eac3153605a81ab2a13b3a-144x51.svg"
          alt="Autodesk" width="144" height="51" />
        <img src="https://cdn.sanity.io/images/u1relmus/production/6ec0cd758d2a82cddc25e2d6a89ffe9d0426291c-143x50.svg"
          alt="Yellow Pages" width="143" height="50" />
        <img src="https://cdn.sanity.io/images/u1relmus/production/7980cdb5ac2842e4e50a1375ec786da798fa119f-144x51.svg"
          alt="Decathlon" width="144" height="51" />
        <img src="https://cdn.sanity.io/images/u1relmus/production/77c4126ff6f2ab5fd9327091ae364f7d43312291-117x41.svg"
          alt="Sanofi" width="117" height="41" />
          <img src="https://cdn.sanity.io/images/u1relmus/production/9f4ceee39f40090d9d9b9b0558869e4e39d14ab3-144x51.svg"
          alt="Nestle" width="144" height="51" />
        <img src="https://cdn.sanity.io/images/u1relmus/production/adbc62692f1e766b56eac3153605a81ab2a13b3a-144x51.svg"
          alt="Autodesk" width="144" height="51" />
        <img src="https://cdn.sanity.io/images/u1relmus/production/6ec0cd758d2a82cddc25e2d6a89ffe9d0426291c-143x50.svg"
          alt="Yellow Pages" width="143" height="50" />
        <img src="https://cdn.sanity.io/images/u1relmus/production/7980cdb5ac2842e4e50a1375ec786da798fa119f-144x51.svg"
          alt="Decathlon" width="144" height="51" />
        <img src="https://cdn.sanity.io/images/u1relmus/production/77c4126ff6f2ab5fd9327091ae364f7d43312291-117x41.svg"
          alt="Sanofi" width="117" height="41" />

        <!-- Repeat set for seamless loop -->
        <img src="https://cdn.sanity.io/images/u1relmus/production/9f4ceee39f40090d9d9b9b0558869e4e39d14ab3-144x51.svg"
          alt="Nestle" width="144" height="51" />
        <img src="https://cdn.sanity.io/images/u1relmus/production/adbc62692f1e766b56eac3153605a81ab2a13b3a-144x51.svg"
          alt="Autodesk" width="144" height="51" />
        <img src="https://cdn.sanity.io/images/u1relmus/production/6ec0cd758d2a82cddc25e2d6a89ffe9d0426291c-143x50.svg"
          alt="Yellow Pages" width="143" height="50" />
        <img src="https://cdn.sanity.io/images/u1relmus/production/7980cdb5ac2842e4e50a1375ec786da798fa119f-144x51.svg"
          alt="Decathlon" width="144" height="51" />
        <img src="https://cdn.sanity.io/images/u1relmus/production/77c4126ff6f2ab5fd9327091ae364f7d43312291-117x41.svg"
          alt="Sanofi" width="117" height="41" />

        <!-- Repeat set for seamless loop -->
        <img src="https://cdn.sanity.io/images/u1relmus/production/9f4ceee39f40090d9d9b9b0558869e4e39d14ab3-144x51.svg"
          alt="Nestle" width="144" height="51" />
        <img src="https://cdn.sanity.io/images/u1relmus/production/adbc62692f1e766b56eac3153605a81ab2a13b3a-144x51.svg"
          alt="Autodesk" width="144" height="51" />
        <img src="https://cdn.sanity.io/images/u1relmus/production/6ec0cd758d2a82cddc25e2d6a89ffe9d0426291c-143x50.svg"
          alt="Yellow Pages" width="143" height="50" />
        <img src="https://cdn.sanity.io/images/u1relmus/production/7980cdb5ac2842e4e50a1375ec786da798fa119f-144x51.svg"
          alt="Decathlon" width="144" height="51" />
        <img src="https://cdn.sanity.io/images/u1relmus/production/77c4126ff6f2ab5fd9327091ae364f7d43312291-117x41.svg"
          alt="Sanofi" width="117" height="41" />

        <!-- Repeat set for seamless loop -->
        <img src="https://cdn.sanity.io/images/u1relmus/production/9f4ceee39f40090d9d9b9b0558869e4e39d14ab3-144x51.svg"
          alt="Nestle" width="144" height="51" />
        <img src="https://cdn.sanity.io/images/u1relmus/production/adbc62692f1e766b56eac3153605a81ab2a13b3a-144x51.svg"
          alt="Autodesk" width="144" height="51" />
        <img src="https://cdn.sanity.io/images/u1relmus/production/6ec0cd758d2a82cddc25e2d6a89ffe9d0426291c-143x50.svg"
          alt="Yellow Pages" width="143" height="50" />
        <img src="https://cdn.sanity.io/images/u1relmus/production/7980cdb5ac2842e4e50a1375ec786da798fa119f-144x51.svg"
          alt="Decathlon" width="144" height="51" />
        <img src="https://cdn.sanity.io/images/u1relmus/production/77c4126ff6f2ab5fd9327091ae364f7d43312291-117x41.svg"
          alt="Sanofi" width="117" height="41" />

        <!-- Repeat set for seamless loop -->
        <img src="https://cdn.sanity.io/images/u1relmus/production/9f4ceee39f40090d9d9b9b0558869e4e39d14ab3-144x51.svg"
          alt="Nestle" width="144" height="51" />
        <img src="https://cdn.sanity.io/images/u1relmus/production/adbc62692f1e766b56eac3153605a81ab2a13b3a-144x51.svg"
          alt="Autodesk" width="144" height="51" />
        <img src="https://cdn.sanity.io/images/u1relmus/production/6ec0cd758d2a82cddc25e2d6a89ffe9d0426291c-143x50.svg"
          alt="Yellow Pages" width="143" height="50" />
        <img src="https://cdn.sanity.io/images/u1relmus/production/7980cdb5ac2842e4e50a1375ec786da798fa119f-144x51.svg"
          alt="Decathlon" width="144" height="51" />
        <img src="https://cdn.sanity.io/images/u1relmus/production/77c4126ff6f2ab5fd9327091ae364f7d43312291-117x41.svg"
          alt="Sanofi" width="117" height="41" />
      </div>
    </div>
  </div>
  <div class="product-listing">
    <div class="section">
      <strong>Beauty</strong>
    </div>
    <div class="card-container">
      @for (item of beautyData; track $index) {

      <div class="card">
        <img class="img-card" [src]="item?.thumbnail" alt="cover_image" (click)="onClick(item?._id)">
        <div class="price">
          <span>${{item?.price}}</span>
        </div>
        <div [class.add-to-cart]="!counts[item._id] || counts[item._id] === 0"
          [class.cart]="counts[item._id] && counts[item._id] > 0">
          <ng-container *ngIf="!counts[item._id] || counts[item._id] === 0; else showControls">
            <i class="fa fa-cart-plus" aria-hidden="true" (click)="onCartClick(item._id)"></i>
          </ng-container>
          <ng-template #showControls>
            <i class="fa fa-minus" aria-hidden="true" [class.disabled]="counts[item._id] === 0"
              (click)="onMinus(item._id)" [style.pointer-events]="counts[item._id] === 0 ? 'none' : 'auto'"></i>
            <span class="count-item">{{ counts[item._id] }}</span>
            <i class="fa fa-add" aria-hidden="true" [class.disabled]="counts[item._id] === 0" (click)="onAdd(item._id)"
              [style.pointer-events]="counts[item._id] === 0 ? 'none' : 'auto'"></i>
          </ng-template>
        </div>
        <div [class.more-margin]="counts[item._id] && counts[item._id] > 0" class="detail" (click)="onClick(item?._id)">
          <strong>{{item.title}}</strong>
        </div>
      </div>
      }
    </div>

    <div class="section">
      <strong>Fragrances</strong>
    </div>
    <div class="card-container">
      @for (item of fragranceData; track $index) {

      <div class="card">
        <img class="img-card" [src]="item?.thumbnail" alt="cover_image" (click)="onClick(item?._id)">
        <div class="price">
          <span>${{item?.price}}</span>
        </div>
        <div [class.add-to-cart]="!counts[item._id] || counts[item._id] === 0"
          [class.cart]="counts[item._id] && counts[item._id] > 0">
          <ng-container *ngIf="!counts[item._id] || counts[item._id] === 0; else showControls">
            <i class="fa fa-cart-plus" aria-hidden="true" (click)="onCartClick(item._id)"></i>
          </ng-container>
          <ng-template #showControls>
            <i class="fa fa-minus" aria-hidden="true" [class.disabled]="counts[item._id] === 0"
              (click)="onMinus(item._id)" [style.pointer-events]="counts[item._id] === 0 ? 'none' : 'auto'"></i>
            <span class="count-item">{{ counts[item._id] }}</span>
            <i class="fa fa-add" aria-hidden="true" [class.disabled]="counts[item._id] === 0" (click)="onAdd(item._id)"
              [style.pointer-events]="counts[item._id] === 0 ? 'none' : 'auto'"></i>
          </ng-template>
        </div>
        <div [class.more-margin]="counts[item._id] && counts[item._id] > 0" class="detail" (click)="onClick(item?._id)">
          <strong>{{item.title}}</strong>
        </div>
      </div>
      }
    </div>

    <div class="section">
      <strong>Furniture</strong>
    </div>
    <div class="card-container">
      @for (item of furnitureData; track $index) {

      <div class="card">
        <img class="img-card" [src]="item?.thumbnail" alt="cover_image" (click)="onClick(item?._id)">
        <div class="price">
          <span>${{item?.price}}</span>
        </div>
        <div [class.add-to-cart]="!counts[item._id] || counts[item._id] === 0"
          [class.cart]="counts[item._id] && counts[item._id] > 0">
          <ng-container *ngIf="!counts[item._id] || counts[item._id] === 0; else showControls">
            <i class="fa fa-cart-plus" aria-hidden="true" (click)="onCartClick(item._id)"></i>
          </ng-container>
          <ng-template #showControls>
            <i class="fa fa-minus" aria-hidden="true" [class.disabled]="counts[item._id] === 0"
              (click)="onMinus(item._id)" [style.pointer-events]="counts[item._id] === 0 ? 'none' : 'auto'"></i>
            <span class="count-item">{{ counts[item._id] }}</span>
            <i class="fa fa-add" aria-hidden="true" [class.disabled]="counts[item._id] === 0" (click)="onAdd(item._id)"
              [style.pointer-events]="counts[item._id] === 0 ? 'none' : 'auto'"></i>
          </ng-template>
        </div>
        <div [class.more-margin]="counts[item._id] && counts[item._id] > 0" class="detail" (click)="onClick(item?._id)">
          <strong>{{item.title}}</strong>
        </div>
      </div>
      }
    </div>

    <div class="section">
      <strong>Groceries</strong>
    </div>
    <div class="card-container">
      @for (item of groceryData; track $index) {

      <div class="card">
        <img class="img-card" [src]="item?.thumbnail" alt="cover_image" (click)="onClick(item?._id)">
        <div class="price">
          <span>${{item?.price}}</span>
        </div>
        <div [class.add-to-cart]="!counts[item._id] || counts[item._id] === 0"
          [class.cart]="counts[item._id] && counts[item._id] > 0">
          <ng-container *ngIf="!counts[item._id] || counts[item._id] === 0; else showControls">
            <i class="fa fa-cart-plus" aria-hidden="true" (click)="onCartClick(item._id)"></i>
          </ng-container>
          <ng-template #showControls>
            <i class="fa fa-minus" aria-hidden="true" [class.disabled]="counts[item._id] === 0"
              (click)="onMinus(item._id)" [style.pointer-events]="counts[item._id] === 0 ? 'none' : 'auto'"></i>
            <span class="count-item">{{ counts[item._id] }}</span>
            <i class="fa fa-add" aria-hidden="true" [class.disabled]="counts[item._id] === 0" (click)="onAdd(item._id)"
              [style.pointer-events]="counts[item._id] === 0 ? 'none' : 'auto'"></i>
          </ng-template>
        </div>
        <div [class.more-margin]="counts[item._id] && counts[item._id] > 0" class="detail" (click)="onClick(item?._id)">
          <strong>{{item.title}}</strong>
        </div>
      </div>
      }
    </div>
  </div>
</div>
